<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SourceVietNam_Version03</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div>
        @*navbar-expand-lg: Mở rộng menu cho màn hình trung bình *@
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">My Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*Thanh menu*@
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" asp-page="Index">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Privacy">Chính sách</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Trang1">Bài viết 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Trang2">Bài viết 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Trang3">Bài viết 3</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="bg-info pb-4">
        @RenderBody()
    </div>
    <div class="bg-success">
        Footer
        @await RenderSectionAsync("NoiDungFooter", required: false)
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>