@page
@model SourceVietNam_Version03.Pages.Trang1Model
@{
    ViewData["Title"] = "POST 1";
    Layout = "_MyLayout";
}

<h1>Đây là @ViewData["Title"]</h1>@*Tạo ra Section NoiDungFooter được khai báo _MyLayout.cshtml*@
@section NoiDungFooter{
    <p>Bài viết liên quan Post 1</p>
}
